<div class="row">
    <div class ="col-md-12">
        
    <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Basic Details</h3>   
  </div>
  <div class="panel-body">
      
             <p class="text-capitalize">AGENT NAMES  : {{profile.agentName}}</p>
            <p class="text-capitalize">ID/PASSPORT    :{{profile.idNo}}</p>
            <p class="text-capitalize">PIN      : {{profile.pinNo}}</p>

  </div>
</div>
</div> 
</div>


<div class="row">
    <div class ="col-md-12">
    <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Details</h3>
   
  </div>
  <div class="panel-body">
      
            <p class="text-capitalize">POSTAL ADDRESS   :{{profile.postAddress}}</p>
            <p class="text-capitalize">TELEPHONE NUMBER    :{{profile.telNo}}</p>
            <p class="text-capitalize">MOBILE NUMBER   : {{profile.gsmNo}}</p>
            <p class="text-capitalize">EMAIL  :{{profile.eMail}}</p>
            
            <p class="text-capitalize">TOWN   :{{profile.town}}</p>
            <p class="text-capitalize">PHYSICAL ADDRESS   :{{profile.physAddress}}</p>

  </div>
</div>
</div>
</div>

<div class="row">
    <div class ="col-md-12">
    <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Bank Details</h3>
   
  </div>
  <div class="panel-body">
            <p class="text-capitalize">BANK    :{{profile.bankdesc}}</p>
            <p class="text-capitalize">BRANCH   :{{profile.branchnane}}</p>
            <p class="text-capitalize">ACCOUNT NUMBER   :{{profile.accountno}}</p>
  </div>
</div>
</div>
</div>