
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">AGENT DETAILS</h3>
  </div>
  <div class="panel-body">
      <div class="col-md-6">
            <p class="text-capitalize">AGENT NAME   :{{agentdetails.agentName}}</p>
            <p class="text-capitalize">AGENT NUMBER  :{{agentdetails.agentNo}}</p>
            <p class="text-capitalize">AGENT Email  :{{agentdetails.EMail}}</p>
            <p class="text-capitalize">AGENT Phone  :{{agentdetails.gsmNo}}</p>
         
      </div>
     
</div>
    
</div>
