<div class="row">
    <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">THESE ARE THE FEEDBACKS YOU HAVE SENT TO US OVER THE PAST FEW DAYS</h3>
    
  </div>
  <div class="panel-body">
      <a href="#!/Sendfeedback" class="btn btn-error btn-primary pull-right" ng-click="giveViews()">Give us Your Views</a>
     <table class="table table-hover table-condensed table-responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>SUBMISSION DATE</th>
        <th>SUBJECT</th>
        <th>RESPONDED TO</th>      
      </tr>
    </thead>
    <tbody>
                  <tr dir-paginate="feedback in feedbacks | orderBy:'id' | itemsPerPage:4 ">
                     <td>{{ feedback.id }}</td>
                     <td>{{ feedback.submissionDate }}</td>
                     <td><a ng-click="showfeedback(feedback)">{{ feedback.subject}}</a></td>
                     <td>
                          <div ng-if="feedback.respondedTo==1" ><i  class="fa fa-2x fa-check"></i></div>
                          <div ng-if="feedback.respondedTo!=1" ><i class="fa fa-2x fa-times"></i></div>
                     </td>   
                  </tr>
    </tbody>
  </table>
       <dir-pagination-controls   max-size="4"  direction-links="true"  boundary-links="true" >  </dir-pagination-controls>
  </div>
</div>
</div>    
    