<div class="row">
    <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">THESE AGENTS HAVE BEEN CONFIRMED BUT HAVE NOT BEEN REGISTERED TO USE THE ONLINE SYSTEM.</h3>
     <div class="pull-right">Search :<input type="text" ng-model="names"></div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
      
     <table class="table table-hover table-condensed table-responsive">
    <thead>
      <tr>
        <th>AGENT NO</th>
        <th>NAMES</th>
        <th>MOBILE NO.</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="agent in agents | filter :names | orderBy:'memberNo' | itemsPerPage:4 ">
                     <td>{{ agent.agentNo }}</td>
                    <td>{{ agent.agentName }} </td>
                      <td>{{ agent.gsmNo}}</td>   
                      <td><a class="btn btn-danger " ng-click="registerAgent(agent)">Register</a></td> 
                  </tr>
    </tbody>
  </table>
        <dir-pagination-controls   max-size="4"  direction-links="true"  boundary-links="true" >  </dir-pagination-controls>
  </div>
</div>
    
