<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>Customer </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

           <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
	   <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
           <link rel="stylesheet" href="styles/customer/customer.css">
           <link rel="stylesheet" href="lib/dialog/css/ngDialog.min.css">
           <link rel="stylesheet" href="lib/dialog/css/ngDialog-theme-default.css">
  </head>
  <body ng-app="CustomerApp">


   <div class="container-fluid">
             <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
              
                  <div class="navbar-header">
                       <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                      <a class="navbar-brand" href="#">
                       <span class="glyphicon glyphicon-home"></span>
                       <strong>Wizglobal Customer </strong>
                      </a>
                 </div>
                 <div data-ng-controller="Mainctrl">
                    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                      <ul class="nav navbar-nav navbar-right">
                             
                         
                        <li ><a href="#!/help"><i class="fa fa-question fa-fw"></i> Help</a></li>
                        <li ><a href="#!/about">About</a></li>
                       
                        <li class="divider"></li>
                        <li><a type="button"  ng-click="Logout()">Logout</a></li>
                     </ul>
                      </nav>
             </div>
          

        </header>
       
        
</div>
      
   <div class="container">
          <div class="row">
           <div class="col-md-3">
               <div class="row">
                <div class="list-group">
                 <a href="#" class="list-group-item active">Navigation</a>
                 <a href="#!/home" class="list-group-item">Home</a>
                 <a href="#!/profile" class="list-group-item">Profile</a>
               
                </div>
              </div>
               
                <div class="row">
                <div class="list-group">
                 <a href="#" class="list-group-item active">Action</a>
                 <a href="#!/feedback" class="list-group-item">Feedback</a>
                 <a href="#!/changePassword" class="list-group-item">Change Password</a>
          
                </div>
              </div>
             
           
       </div>
       
           <div class="col-md-8 col-md-offset-1" data-ng-view >
           </div>
       
          
          
      </div>
      </div>




   <div class="navbar navbar-default navbar-fixed-bottom">
                 <div class="container" >
                   <p>copyrights @Wizglobal 2015 </p>                     
          </div>


    <script src="lib/jquery/jquery-2.1.4.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular-route/angular-route.min.js"></script>
         <script src="lib/pagination/pagination.js"></script>
     <script src="lib/dialog/ngDialog.min.js"></script>
  
        <script src="scripts/customer/customer.js"></script>
      
  <script type="text/ng-template" id="feedbackResptmpl">
             <div class="ngdialog-message">
            <h3>Feedback Response</h3>
             <p>Responded By {{ resp.respondedBy }}</p>
              <div class="row">  
                    <div class ="col-md-12">
                 <label for="desc">Response</label>
		<textarea class="form-control" rows="10" id="desc" ng-model="resp.responce" ></textarea>
                     </div>
                  </div>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')">Ok</button>
           
        </div>
       </script>
   
</body>
</html>