<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>Staff </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

           <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
	   <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
           <link rel="stylesheet" href="styles/staff/staff.css">
           <link rel="stylesheet" href="lib/dialog/css/ngDialog.min.css">
           <link rel="stylesheet" href="lib/dialog/css/ngDialog-theme-default.css">
           
         
  
  </head>
  <body ng-app="StaffApp">


   <div class="container-fluid">
             <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
              
                  <div class="navbar-header">
                       <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                      <a class="navbar-brand" href="#!/home">
                      
                       <strong>Wizglobal Staff </strong>
                      </a>
                 </div>
                 <div data-ng-controller="Mainctrl">
                    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                      <ul class="nav navbar-nav navbar-right">
                             
                         
                        <li ><a href="#!/help"><i class="fa fa-question fa-fw"></i> Help</a></li>
                        <li ><a href="#!/about">About</a></li>
                        <li>  <a href="#!/changePassword" >Change Password</a></li>
                       
                        <li class="divider"></li>
                        <li><a type="button"  ng-click="Logout()">Logout</a></li>
                     </ul>
                      </nav>
             </div>
          

        </header>
       
        
</div>
      
   <div class="container">
          <div class="row">
             <div class="col-md-3 col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Navigation</a>
                    <a href="#!/home" class="list-group-item">Home</a>
                    <a href="#!/userRegistration" class="list-group-item">Register User</a>
                    <a href="#!/feedback" class="list-group-item">Customer Feedbacks</a>
               
                </div>
                <div class="list-group">
                 <a href="#" class="list-group-item active">CONFIRMATIONS</a>
                 <a href="#!/confirmMembers" class="list-group-item">Members</a>
                 <a href="#!/confirmNavs" class="list-group-item">NAV</a>
                <a href="#!/confirmTransactions" class="list-group-item">Transactions</a>
                <a href="#!/confirmInterests" class="list-group-item">Interests</a>
               
                </div>
                   
              </div>
               
            
             
           

          
           <div class="col-md-9 col-sm-9" data-ng-view >
           </div>
       
          
          
      </div>
      </div>




   <div class="navbar navbar-default navbar-fixed-bottom">
                 <div class="container" >
                   <p>copyrights @Wizglobal 2015 </p>                     
          </div>
   </div>

    <script src="lib/jquery/jquery-2.1.4.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular-route/angular-route.min.js"></script>
     <script src="lib/pagination/pagination.js"></script>
     <script src="lib/dialog/ngDialog.min.js"></script>
        <script src="scripts/staff/staff.js"></script>
    
        
        <script type="text/ng-template" id="templateId">
             <div class="ngdialog-message">
            <h3>Confirm Member</h3>
             <p>Member Number  : {{ memb.memberNo }}</p>
             <p>Member names  : {{ memb.title }} {{ memb.allnames }}</p>
             <p>Member Email : {{ memb.EMail }}</p>
             <p>Member ID  : {{ memb.idNo}}</p>
             <p>Member D.O.B : {{ memb.dob}}</p>
             <p>Member Gender : {{ memb.gender }}</p>
             <p>Member GSM No. : {{ memb.gsmNo }}</p>
             <p>Member PostAddress : {{ memb.postAddress }}</p>
             <p>Member Registration Date :  {{ memb.regDate }}</p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')">Confirm</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('No')">Cancel</button>
        </div>
       </script>
       
        <script type="text/ng-template" id="staffFeedbacktmpl">
             <div class="ngdialog-message">
                        <div class="row">  
                                 <div class ="col-md-12">
                              <label for="desc">Enter Your Response Here</label>
				<textarea class="form-control" rows="10" id="desc" ng-model="feedback.response" ></textarea>
                             </div>
                             </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(feedback)">Send Response</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('No')">Cancel</button>
        </div>
       </script>
       
        <script type="text/ng-template" id="trantmpl">
             <div class="ngdialog-message">
            <h3>Confirm Transactions</h3>
             <p>Member Number  : {{ trans.memberNo }}</p>
             <p>Member Names : {{ trans.fullName }}</p>
             <p>Transaction ID  : {{ trans.transId}} </p>
             <p>Transaction Type : {{ trans.transType }}</p>
             <p>Transaction Date : {{ trans.transDate}}</p>
             <p>Transaction Amount : {{ trans.amount }}</p>
             <p>No.Shares : {{ trans.noofshares}}</p>
             <p>Nav : {{ trans.nav}}</p>
             <p>Price : {{ trans.price}}</p>
             <p>Portfolio : {{ trans.portfolio}}</p>
             <p>Account Number : {{ trans.accountNo}}</p>
             <p>Posted By : {{ trans.UName}}</p>
             <p>Remarks : {{ trans.remarks}}</p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')">Confirm</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('No')">Cancel</button>
        </div>
       </script>
       
       <script type="text/ng-template" id="navtmpl">
             <div class="ngdialog-message">
            <h3>Confirm Nav</h3>
             <p>Nav id  : {{ nav.navId }}</p>
             <p>Nav Date : {{ nav.navDate }}</p>
             <p>Nav Amount  : {{ nav.amount }} </p>
             <p>Purchase Price  : {{ nav.PPrice }} </p>
             <p>Security Name : {{ nav.secname }}</p>
             <p>Security Code : {{ nav.securityCode }}</p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')">Confirm</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('No')">Cancel</button>
        </div>
       </script>

             <script type="text/ng-template" id="iratetmpl">
             <div class="ngdialog-message">
            <h3>Confirm Interest Rate</h3>
             <p>Irate id  : {{ irate.rateId }}</p>
             <p>Irate Date : {{ irate.rateDate }}</p>
             <p>Rate  : {{ irate.rate }} </p>
             <p>Security Name : {{ irate.secname }}</p>
             <p>Security Code : {{ irate.securityCode }}</p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')">Confirm</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('No')">Cancel</button>
        </div>
       </script>
   
</body>
</html>